div{
  width: 100%;
}


body{
  background-color:#fffff0;
  padding:8px 0 0 0;
  margin:0;
}

.hwrapper{
  width:100%;
  background-color:#FFE991;
  background-image:repeating-linear-gradient(-45deg,#fff,#fff 7px,transparent 0,transparent 14px);
}

header{
  padding:0;
}

.header img{
  width:20%;
  height:auto;
  padding-left: 20px;
  position:relative;
}

@media (max-width:767px) {
  .header img{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
  }
}

.catch_copy{
  width:80%;
  font-size:12px;
  font-family: 'Arial','Zen Maru Gothic', sans-serif;
  color: brown;
  text-shadow: 1px 3px 3px yellow;
  margin:auto;
  padding-bottom:2%;
}

footer{
  width:100%;
  padding:10px 0 40px 0;
  margin:30px 0 0 0;
  background-color: white;

  position: relative;
  bottom: 0;
}

footer a{
  padding-left:30px
}

.company{
    font-size:5px;
    padding-left:30px
}

.credit{
  font-size:10px;
  text-align:center;
}
