<html><body>
  <form action="/req" method="post" class="form-example">
  <div class="form-example">
    <label for="email1">Enter your email: </label>
    <input type="email" name="email1" id="email1" required>
  </div>
  <div class="form-example">
    <label for="email2">Enter your email: </label>
    <input type="email" name="email2" id="email2" required>
  </div>
  <div class="form-example">
    <label for="name">Enter your twitter id: </label>
    <input type="text" name="twitter_id" id="twitter_id" required>
  </div>
  <div class="form-example">
    <input type="submit" value="run">
  </div>
  </form>
</body></html>
