<!doctype html>
    <html lang=ja>
    <head>
      <meta charset ="UTF-8">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
      <title>HABIFY</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}" />
      <meta name = "author" content = "D_2105">
      <meta name = "description" content="HBIFY...">
      <meta name ="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
      <header>
        <div class="hwrapper">
        <div class="header">
          <a href="index.html"><img src="../static/img/logo.png" alt="HABIFY..."></a>
        <p class=catch_copy>オンリーワンなHappy Birthday to Youをお届けします</p>
        </div>
        </div>
      </header>
          <main>
            {% block content %}
        <!-- ここに別ファイルで書いたコンテンツが入る -->
            {% endblock %}
          </main>
          <footer>
              <a href="http://www.goo.ne.jp/">
                <img src="//u.xgoo.jp/img/sgoo.png" alt="supported by goo"
                title="supported by goo" width="88px" height="36px">
              </a>
              <p class=credit>Developed by ぱ↓いすぅ↑ん</p>
          </footer>
    </body>
    <html>
