{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/preview.css')}}" />
<body>
    <div class="preview_title">
      <h2 class="bubble01">プレビュー♪</h2>
    </div>
    <div class="vwrapper">
      <video width="300px" height="300px"
       src="/{{ id }}/download" controls></video>
    </div>

    <div class="buttons">

      <a class="tw_share_btn" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-hashtags=HABIFY data-text="@{{twitter_id}} Happy Birthday to You!" data-url="https://habify.herokuapp.com/{{ id }}/preview/" data-lang="ja" data-show-count="false"><i class="fab fa-twitter fa-fw"></i>
      ツイッターで送る！</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a href="/{{ id }}/download" class="download_btn">
        <i class="far fa-arrow-alt-circle-down"></i> ダウンロードする！
      </a>

      </div>

</body>
{% endblock %}
