{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/preview.css')}}" />
<body>
    <div class="preview_title">
      <h2 class="bubble01">プレビュー♪</h2>
    </div>
    <div class="vwrapper">
      <video width="300px" height="300px"
       src="/{{ id }}/download" controls></video>
    </div>

    <div class="buttons">
      <a href="/{{ id }}/download" class="download_btn">
        <i class="far fa-arrow-alt-circle-down"></i> ダウンロードする！
      </a>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Happy Birthday to You!" data-hashtags="HABIFY" data-lang="ja" data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    </div>

    <div class=""

</body>
{% endblock %}
