{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/preview.css')}}" />
<body>
    <div class="preview_title">
      <h2 class="bubble01">プレビュー♪</h2>
    </div>
    <div class="vwrapper">
      <video width="300px" height="300px"
       src="/{{ id }}/download" controls></video>
    </div>

    <div class="buttons">

      <a class="twitter_share_button" href="https://twitter.com/intent/tweet?text=Happy Birthday to You!! @{{twitter_id}}&url=https://habify.herokuapp.com/{{id}}/preview&hashtags=HABIFY" data-url="https://habify.herokuapp.com/{{ id }}/preview/" data-lang="ja" data-show-count="false">
      ツイッターで送る！</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a href="/{{ id }}/download" class="download_btn">
        <i class="far fa-arrow-alt-circle-down"></i> ダウンロードする！
      </a>

      </div>

</body>
{% endblock %}
